button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: $primaryBlack;

}



.main-btn{
    background-color: $lime;
    width: 200px;
    height: 30px;
    border-radius: $borderRadius;
    margin: 0;
    font-family: $suppFont;
    font-size: 1.2rem;
    font-weight: 600;
    color: $primaryBlack;
}

.secondary-btn{
    background-color: $white;
    width: 200px;
    height: 30px;
    border-radius: $roundedRadius;
    margin: 0;
    font-family: $suppFont;
    font-size: 1.2rem;
    font-weight: 600;
    color: $primaryBlack;
    border: $primaryBlack 1px solid;
}